<% content_for :head do %>
  <% if products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags products %>
  <% end %>
<% end %>

<div data-hook="products_search_results_heading">
  <% if products.empty? %>
  <div data-hook="products_search_results_heading_no_results_found">
    <%= Spree.t(:no_products_found) %>
  </div>
  <% elsif params.key?(:keywords) %>
  <div data-hook="products_search_results_heading_results_found">
    <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
  </div>
  <% end %>
</div>

<% if products.any? %>
<div class="container">
  <div class="row">
    <h2 class="page-title">Buy Fruit</h2>
  </div>
  <div id="products" class="row buy-fruit" data-hook>
    <% products.each do |product| %>
    <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
    <div id="product_<%= product.id %>" class="col-sm-6 product-list-item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel-head text-left">
            <h3><%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %></h3>
          </div>
        </div>
      </div>
      <div class="row show-product">
        <div class="col-xs-6">
          <div class="panel panel-default">
            <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : cache_key_for_product(product)) do %>
            <div class="panel-body text-center product-body">
              <%= link_to url, itemprop: "url" do %>
              <%= product_image(product, itemprop: "image", class: "img-responsive") %>           
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-6">
          <%= content_tag(:p, truncate(product.description, length: 300), class: 'description', itemprop: "description", title: product.description) %>
          <%= link_to "Read More", url, class: "btn btn-default" %>
          <a class="btn btn-default" href="#" role="button">Buy Fruit</a>
        </div>
      </div>
    </div>
    <% end %>
    <% reset_cycle("classes") %>
  </div>
</div>
<% end %>

<div class="container">
  <% if products.respond_to?(:total_pages) %>
  <%= paginate products, theme: 'twitter-bootstrap-3' %>
  <% end %>
</div>
